/* mobile : 480px
tablet : 768px*/

@font-face {
  font-family: "Paris 2024";
  src: url("Paris2024-Variable.ttf");
}

body {
  font-family: "Paris 2024", sans-serif;
  height: 100%;
  /* background: -webkit-linear-gradient(top, #7dcbf9, #1b3a77); */
  background: -webkit-linear-gradient(bottom, #17b6af, #003a54);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-wrap: break-word;
}

header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* background-color: #102247; */
  background-color: #012333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 110px;
}

header a {
  font-size: 20px;
  line-height: 26px;
}

header img {
  height: 90px;
  width: auto;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 10px;
  width: 50vw;
}

.header-logo a {
  border: none;
  padding: 0;
  margin: 0;
}

.header-logo a:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.header-h1 a {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
  font-weight: bold;
  border: none;
  padding: 0;
}

.header-h1 a:hover {
  color: #17b6af;
  border: none;
  border-radius: 0%;
  background-color: rgba(0, 0, 0, 0);
}

.menu-icon-container a {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  transition: 0.2s;
}

.menu-icon-container:hover svg {
  fill: white;
  transition: 0.2s;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  height: 100vh;
  width: 400px;
  z-index: 999;
  background-color: #012333;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
  padding: 2vh 10px;
}

.sidebar a {
  border: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-icon-container a {
  padding: 10px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .sidebar-responsive{
    display: none;
  }
}

@media (max-width: 768px) {
  .header-h1{
    width: 150px;
  }

  .sidebar{
    width: 100%;
  }

  .nav-responsive{
    display: none;
  }

  .sidebar-responsive{
    display: block;
  }
}

main {
  margin: 110px 0px 200px 0px;
  /* height: 55vh; */
  padding-top: 100px;
}

footer {
  padding: 10px 30px;
  font-family: "Paris 2024", sans-serif;
  /* background-color: #102247; */
  background-color: #012333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 10px;
}

footer img {
  width: 200px;
}

header h1,
header ul,
footer h1,
footer ul {
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
}



/* POLICE, BOUTON, LISTE */

h1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
  font-weight: bold;
  font-family: "Paris 2024", sans-serif;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
  font-weight: bold;
  font-family: "Paris 2024", sans-serif;
}

h3 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 24px;
  font-weight: bold;
  font-family: "Paris 2024", sans-serif;
}

h4 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: bold;
  font-family: "Paris 2024", sans-serif;
}

p,
a,
ul,
li,
input {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

input {
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  width: 480px;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

a {
  border: 1px solid;
  padding: 10px 20px;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.4s;
}

a:active {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.4s;
}

ul {
  align-items: center;
}

li {
  display: inline;
  padding: 0 20px 0 20px;
}

img {
  width: 80px;
}

table {
  border-spacing: 60px 5px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

thead {
  font-weight: bold;
  position: sticky;
}

th {
  text-transform: uppercase;
}

td {
  font-weight: 400;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 24px;
  height: 40px;
  border-bottom: 1px solid #ddd;
  /* min-width: 200px; */
}

tbody tr:hover {
  background-color: #17b6af;
  color: white;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 36px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }
}



/* PAGE TITLE, SEARCH BAR, CONTENT */

.page-title {
  text-align: center;
  color: white;
  padding: 0px 50px 50px 50px;
}

.page-title-2 {
  text-align: center;
  color: white;
  padding: 150px 50px 50px 50px;
}

.page-title h1,
.page-title-2 h1 {
  font-size: 52px;
  line-height: 56px;
  font-weight: 1000;
  font-style: italic;
  text-transform: uppercase;
}

.page-title h3 {
  font-weight: 400;
}

.search-bar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10px;
  max-width: 528px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
}

.search-bar input {
  margin: 0px;
  background-color: white;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  height: 56px;
  padding: 20px;
  border-radius: 5px 0 0 5px;
}

.button-arrow {
  background-color: white;
  height: 56px;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  box-shadow: 2.5px 4px 5px 0px rgba(0, 0, 0, 0.4);
}

.button-arrow button {
  margin-right: 15px;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.button-arrow button:hover {
  background-color: #454545;
  cursor: pointer;
}

.button-arrow svg {
  stroke: white;
  stroke-width: 4px;
}

.content {
  padding: 50px 100px 20px 100px;
  background-color: white;
}

@media (max-width: 1120px) {
  .content table{
    overflow-y: auto;
    width: auto;
  }

  .content th, td {
    width: auto;
  }
}

@media (max-width: 768px) {
  .search-bar {
    padding: 1vw;
  }

  .search-bar input {
    width: 80vw;
  }

  .content{
    padding: 50px 2vw 20px 2vw;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 50px 10px 20px 10px;
  }

  .page-title-2{
    padding: 80px 2vw 50px 2vw;
  }

  .page-title-2 h1 {
    font-size: 32px;
    line-height: 38px;
  }
}



/* ACCUEIL */

.content-home {
  padding: 70px 100px;
  background-color: white;
  text-align: center;
}

.content-home h3 {
  text-transform: uppercase;
  color: #003a54;
}

.content-home-table {
  max-height: 500px;
  overflow-y: auto;
}

.cards-section {
  margin: 20px 30px 0 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.card-container {
  /* border: 1px solid #ddd; */
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: left;
  border-radius: 5px;
  border: #ddd;
}

.card-container:hover {
  transform: scale(1.05);
  transition: 0.3s;
  overflow: hidden;
}

.card-container:hover h4 {
  text-decoration: underline;
}

.card-container img {
  object-fit: cover;
  width: 360px;
  height: 360px;
  border-radius: 5px;
}

.card-container a,
.card-container a:visited {
  color: black;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-container h4 {
  margin-bottom: 0px;
}

@media (max-width: 1540px) {
  .cards-section {
    margin: 20px 0px 0px 0px;
    padding: 20px 0px;
  }

  .card-container {
    width: 300px;
  }

  .card-container img {
    object-fit: cover;
    width: 260px;
    height: 260px;
    border-radius: 5px;
  }

  .card-container h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .content-home{
    padding: 70px 2vw;
  }
}

@media (max-width: 645px) {
  .cards-section{
    flex-wrap: nowrap;
    overflow-y: auto;
    justify-content: flex-start;
  }
}



/* SECTION FAQ OLYMPIADE */

.content-faq-olymp {
  margin: 20px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.content-faq-olymp h2 {
  text-transform: uppercase;
}

.content-faq-olymp h3 {
  color: #17b6af;
}

.content-faq-olymp h4 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.content-faq-olymp p {
  margin-bottom: 5px;
}
